body{font:12px/2 Consolas, Georgia,Microsoft Yahei,SimSun;background:#EEE;color:#333;}
body,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,th,td,p{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left;}
footer,header,section,article{display:block;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
a{text-decoration:none;color:#DDD;}
a:hover{text-decoration:underline;}
.clear{clear:both;}

/* Header样式
-----------------------------*/
#header{width:100%;min-width:820px;background:#305999;height:50px;border-bottom:solid 3px #052f7c;color:#FFF;font-weight:bold;line-height:1.5;overflow:hidden;}
    .header_title{padding-left:50px;font-size:30px;float:left;}
    .header_info{float:right;padding-top:10px;padding-right:10px;}
    .header_other{padding-left:10px;}

/* Main样式
-----------------------------*/
.main_section{width:90%;min-width:820px;min-height:150px;padding:20px;background:#DDD;margin:20px auto;overflow:hidden;}
    .main_article{background:#FFF;overflow:hidden;padding:10px;margin-bottom:20px;position:relative;}
        .main_article .nav_bread_crumb{color:#FFF;float:left;min-width:50px;height:25px;line-height:25px;padding:0px 10px;margin-right:5px;margin-bottom:5px;background:#305999;border:solid 1px #052F7C;}
        .main_article .nav_bread_crumb:hover{background:#EEE;color:#333;border:solid 1px #000;}

        .main_article p{text-indent:2em;margin-bottom:5px;}
        .main_article strong,
        .main_article span,
        .main_article em{font-size:14px;font-weight:bold;}
        .main_article img{margin:10px;padding:2px;border:solid 2px #DDD;}
        .main_article a{color:#2662DF;}
        .main_article table{width:400px;margin:20px;}
        .main_article th{font-size:14px;font-weight:bold;background:#EEE;border:solid 1px #CCC;padding:0px 10px;}
        .main_article td{border:solid 1px #CCC;background:#EEE;padding:0px 10px;}
        .tab_caption{font-size:14px;font-weight:bold;text-align:center;border:solid 1px #CCC;border-bottom:none;}

        .main_article .wideTable{width:600px;}
        .main_article .hugeTable{width:800px;}
            .main_article .simpleStyleTable th, .main_article .simpleStyleTable td{background:#EEE;border:solid 1px #FFF;}

    #demo_title{font-size:20px;font-weight:bold;}
        #demo_title a{color:#2662DF;}
    #main_textarea{width:98%;height:200px;margin:20px auto;border:solid 2px #305999;padding:10px;outline:0;font-family:Courier New, SimSun;resize:none;line-height:1.5;}
    .btn_link{display:block;width:100px;height:25px;line-height:25px;text-align:center;background:#305999;border:solid 1px #052F7C;color:#FFF;font-weight:bold;}

/* Footer样式
-----------------------------*/
#footer{width:100%;margin-bottom:120px;background:#305999;height:30px;line-height:30px;text-align:center;border-top:solid 3px #052f7c;color:#FFF;font-weight:bold;}
    .footer_link:hover{text-decoration:underline;}

/* RegExp样式
-----------------------------*/
.part_title{color:#333;height:25px;line-height:25px;margin-bottom:10px;}
.part_title_content{background:#FEFE9B;border:solid 1px #000;padding:0px 10px;display:inline-block;}
.part_tips{float:right;padding:20px 10px 10px;width:270px;margin:0px 10px;border:solid 1px #000;background:#EEEEEE url(../img/tips.png) no-repeat 10px 10px;padding-left:4em;}
.highlight_words{background:#305999;color:#FFF;padding:0px 2px;}
.highlight_blue{color:#305999;padding:0px 2px;}
.highlight_red{color:#FF2525;padding:0px 2px;}
.highlight_green{color:#008000;padding:0px 2px;}
.highlight_yellow{color:#DF9A12;}
.highlight_underL{text-decoration:underline;padding:0px 2px;}
.common_ul, .common_ol{margin-left:40px;}

.indent2{padding-left:2em;}
.indent4{padding-left:4em;}
.indent6{padding-left:6em;}

#catalog{position:fixed;z-index:999;left:0;bottom:0;border-top:5px solid #333;margin-bottom:0;box-shadow:0 0 15px #333;}
#catalog_title{position:fixed;right:10px;bottom:10px;z-index:9999;}
    #catalog_title span{cursor:pointer;}